<h2 mat-dialog-title>{{title}}</h2>


<mat-dialog-content [formGroup]="form">

  <mat-form-field>
    <input matInput placeholder="Name" formControlName="name">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Designation" formControlName="designation">
  </mat-form-field>


  <mat-form-field>
    <mat-label>Skills</mat-label>
    <mat-select formControlName="skills" multiple>
      <mat-option *ngFor="let skill of skillList" [value]="skill">{{skill}}</mat-option>
    </mat-select>
  </mat-form-field>

</mat-dialog-content>

<!-- <mat-dialog-content [formGroup]="form">


  <div class="form-group">
      <label for="status">User Email</label>
      <input type="text" #emailAddress="ngModel"
             id="email" 
             class="form-control"
             ngModel name="name"
             required name>

             <span class="help-block" 
                   *ngIf="!name.valid && name.touched">
                   Please enter valid email</span> 
    </div>

    <div class="form-group">
      <div class="radio" *ngFor="let gender of genders">
        <label>
          <input type="radio" [value]="gender" ngModel name="gender">{{gender}}
        </label>
      </div>
    </div>

    
    <mat-form-field>
      <input matInput placeholder="Name" ngModel name=>
    </mat-form-field>
  
    <mat-form-field>
      <input matInput placeholder="Designation" formControlName="designation">
    </mat-form-field>
  
  
    <mat-form-field>
      <mat-label>Skills</mat-label>
      <mat-select formControlName="skills" multiple>
        <mat-option *ngFor="let skill of skillList" [value]="skill">{{skill}}</mat-option>
      </mat-select>
    </mat-form-field>
  
  </mat-dialog-content> -->

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Close</button>
  <button [disabled]="!form.valid" class="mat-raised-button mat-primary" (click)="save()">Save</button>
</mat-dialog-actions>
