<h2>Styling Component!</h2>

<!-- // [] attribute binding
//() event binding -->


<p [ngStyle]="{'color': 'green', 'font-weight': 'bold' }">Style me</p>

<h4>NgStyle</h4>
<ul *ngFor="let person of people">
  <li [ngStyle]="{'color':getColor(person.country)}"> {{ person.name  }} ({{ person.country  }}) (1)
  </li>
</ul>
<hr>

<!-- <ul *ngFor="let person of people">
  <li [style.color]="getColor(person.country)">{{ person.name  }} ({{ person.country  }})
  </li>
</ul> -->



<h4>NgClass</h4>

<p [ngClass]="'abc'">ABC</p>


<ul style="list-style-type:none" *ngFor="let person of people">

  <li [class.content]="true" [ngClass]="{
    'text-success':person.country === 'UK',
    'text-primary':person.country === 'USA',
    'text-danger':person.country === 'HK'
  }">{{ person.name  }} ({{ person.country  }})
  </li>
</ul>
