.text-success {
    background-color: lightgreen;

}

.text-primary {
    background-color: lightblue;
}

.text-danger {
    background-color: lightsalmon;
}

.content {
    width: 50%;
    height: 50px;
    text-decoration: none;
}

.abc {
    font-size: 20px;
}

